

@model TBJ.Ecommerce.Models.Product

@{
    ViewBag.Title = "Tbjelectronics.co.uk || Delete Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body style="background-image:url(/Content/Images/productsB.jpg)">
    <center>
        <h1 class="tbj-heading">Are you sure you want to delete this Product?</h1>

        <div class="col-md-4 col-sm-6" style="float:unset">
            <div class="product-grid">
                <div class="product-image">
                    <a href="@Url.Content(@Model.ProductImage)">
                        <img src="@Url.Content(@Model.ProductImage)" style="width:100%; height:100%" />
                    </a>
                   
                    <span class="product-new-label">Sale</span>
                    <span class="product-discount-label">@Html.DisplayFor(modelItem => @Model.Discount)%</span>
                </div>
                <ul class="rating">
                    @for (var i = 1; i <= @Model.StarRating; i++)
                    {
                        <li class="fa fa-star"></li>
                    }
                    @for (var i = @Model.StarRating; i < 5; i++)
                    {
                        <li class="fa fa-star disable"></li>
                    }
                </ul>
                <div class="product-content">
                    <h3 class="title"><a href="@Url.Content(@Model.ProductImage)">@Html.DisplayFor(modelItem => @Model.ProductName)</a></h3>
                    <div class="price">
                        £@Html.DisplayFor(modelItem => @Model.CurrentPrice)
                        <span>£@Html.DisplayFor(modelItem => @Model.FullPrice)</span>
                    </div>
                </div>
            </div>
            <div>
                <a href='@Url.Action("Index", "Products")' class="btn btn-primary btn-lg btn-block" role="button" style="font-family:Calibri">Back to Products</a>
            </div>
            <br />
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
            }
        </div>
    </center>
</body>
</html>

